*{ 
    box-sizing: border-box;
}

.navbar-nav a{
    color:#F67280;
    
}

.navbar-brand{
    font-style: oblique;
}

.anasayfa{
    margin: 35px;
    float: left;
    display: inline-flex; 
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
}

.anasayfa2{
    display: inline-flex;
    float: right;
    flex-wrap: wrap;
    width: 47%;
}

.anasayfa_yazi1{
    font-size: 35px;
    font-family:cursive;
}



body
{background-image: url(arkaplan.jpg);}

.maddeler{
    
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 16px;
    width: 30%;
    text-align: center;
}

