*{ 
    box-sizing: border-box;
}

.navbar-nav a{
    color:#F67280;
    
}

.navbar-brand{
    font-style: oblique;
}

.hakkimda{
    display: inline-block;
}
.maddeler{
    
    display: inline-flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 16px;
    width: 30%;
    text-align: center;
}