*{ 
    box-sizing: border-box;
}

.navbar-nav a{
    color:#F67280;
    
}

.navbar-brand{
    font-style: oblique;
}

.anasayfa{
    margin: 40px;
    float: left;
    display: inline-flex; 
    flex-wrap: wrap;
    
 
  
}

.anasayfa2{
    display: inline-flex;
    float: right;
    flex-wrap: wrap;
   

}

.anasayfa_yazi1{
    font-size: 35px;
    font-family:cursive;
    color: black;
   
}




.maddeler{
    border-style: double;
    height: 590px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 16px;
    padding: 16px;
    width: 30%;
  
    background-color: #FFCBCB;
    border-radius:20px
    
    
}



.maddeler a{
    color: #121481;
    font-style: italic;
  
}

.maddeler img{

    border-radius: 90px;
    
}

