*{ 
    box-sizing: border-box;
}

.navbar-nav a{
    color:#F67280;
    
}

.navbar-brand{
    font-style: oblique;
}

main{
    background-color: white;
    padding: 40px;
    margin: 80px 100px;
    border-style: double;
    border-width: 3px;

}
main header{
    background-color: #FFEAE3 ;
    padding: 5px;
    border-style: double;
}